<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" style="height: 200%">
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Bienvenido a tu páginda de perfil de la Universidad Tecnológica!
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col text-center>
        <ion-img [src]="this.user.img"></ion-img>
      </ion-col>
      <ion-col text-center>
        Nombre : {{this.user.name}}
      </ion-col>
      <ion-col text-center>
        Apellidos : {{this.user.surname}}
      </ion-col>
      <ion-col text-center>
        Correo : {{userEmail}}
      </ion-col>
      <ion-col text-center>
        DNI : {{this.user.dni}}
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
