<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del grado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item><ion-img [src]=grado?.img alt=""> </ion-img></ion-item>
  <ion-item><h1>{{grado?.name}}</h1></ion-item>
  <ion-item>
    <ion-button (click)="addFavorito()">
      <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>{{grado?.description}}</ion-item>
  <ion-list>
    <h2>Asignaturas:</h2>
    <ion-item *ngFor="let asignatura of grado?.asignaturas">
      {{asignatura}}
    </ion-item>
  </ion-list>
</ion-list>
</ion-content>
